<%= form_with model: task, url: url, local: true do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'タスクのタイトル'%>
    <% task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'タスクの詳細' %>
    <% task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :status %> <br>
    <div class="form-check form-check-inline">
      <%= form.radio_button :status, 0, class: 'form-check-input' %>
      <%= form.label :status, '未着手', value: 0, class: 'form-check-label'%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :status, 1, class: 'form-check-input' %>
      <%= form.label :status, '作業中', value: 1, class: 'form-check-label'%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :status, 2, class: 'form-check-input' %>
      <%= form.label :status, '完了', value: 2, class: 'form-check-label'%>
    </div>
    <% task.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= form.label :date %>
    <%= form.datetime_field :date, class: 'form-control'%>
    <% task.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :priority %> <br>
    <div class="form-check form-check-inline">
      <%= form.radio_button :priority, 1, class: 'form-check-input' %>
      <%= form.label :priority, '!', value: 1, class: 'form-check-label'%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :priority, 2, class: 'form-check-input' %>
      <%= form.label :priority, '!!', value: 2, class: 'form-check-label'%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button :priority, 3, class: 'form-check-input' %>
      <%= form.label :priority, '!!!', value: 3, class: 'form-check-label'%>
    </div>
    <% task.errors.full_messages_for(:priority).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label "ラベル" %>
    <%= link_to "Label List", labels_path, class: 'btn btn-sm btn-link ml-3 mr-0' %>
    <%= link_to "Create New Label", new_label_path, class: 'btn btn-sm btn-link' %>
    <br>
    <div class="form-check form-check-inline">
      <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-success btn-sm btn-block mt-5' %>
  </div>
<% end %>