<h1>Task</h1>

<%= search_form_for @q, url: search_tasks_path do |f| %>
    <%= f.label :title_cont, '＜タスク名＞' %><br>
    <%= f.search_field :title_cont, placeholder: "検索したいタイトル" %>
    <br>
    <%= f.label :status, '＜進捗＞' %><br>
    <%= f.radio_button :status_eq, '' %>指定しない
    <%= f.radio_button :status_eq, 0 %>未着手
    <%= f.radio_button :status_eq, 1 %>作業中
    <%= f.radio_button :status_eq, 2 %>完了
    <br>
    <%= f.submit '検索' %>
<% end %>
<hr>

<%= flash[:notice] %>

<table style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
    <thead><tr>
        <th><%= sort_order  "id", "ID"%></th>
        <th><%= sort_order  "title", "タイトル"%></th>
        <th><%= sort_order  "description", "詳細"%></th>
        <th><%= sort_order  "status", "進捗"%></th>
        <th><%= sort_order  "date", "〆切日時"%></th>
        <th><%= sort_order  "priority", "優先度"%></th>
        <th><%= sort_order  "user", "作成者"%></th>
        <th><%= sort_order  "label", "ラベル"%></th>
        <th><%= sort_order  "created_at", "作成日時"%></th>
        <th><%= sort_order  "updated_at", "更新日時"%></th>
    </thead></tr>
    
    <tbody>
    <% @tasks.each do |task| %>
        <tr>
            <td><%= task.id %></td>
            <td><%= link_to task.title, task_path(task)%></td>
            <td><%= task.description %></td>
            <td><%= @status[task.status] %></td>
            <td><%= task.date.strftime('%Y.%m.%d %H:%M') %></td>
            <td><%= @priority_mark[task.priority] %></td>
            <td><%= task.user %></td>
            <td><%= task.label %></td>
            <td><%= task.created_at.strftime('%Y.%m.%d %H:%M') %></td>
            <td><%= task.updated_at.strftime('%Y.%m.%d %H:%M') %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>
<%= paginate @tasks %>

<br>
<%= link_to "New Task", new_task_path %>
