<h1>SummaryDetail#index</h1>
<p>Find me in app/views/task/index.html.erb</p>

<%= flash[:notice] %>

<h1>Task</h1>

<%= sort_order  "created_at", "作成日時"%>
<%= sort_order  "title", "タイトル"%>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <%= link_to task.title, task_path(task)%>
            <p><%= task.description %></p>
        </li>
    <% end %>
</ul>

<%= link_to "New Task", new_task_path %>