<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light mb-3">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Tasks</a>
        <%= link_to "Create New Task", new_task_path, class: 'btn btn-info' %>
      </div>
    </nav>
    
    <%= search_form_for @q, url: search_tasks_path do |f| %>
      <div class="container mb-3">
        <div class="row align-items-center">
          <div class="col-md-4"><%= f.search_field :title_cont, placeholder: "検索したいタイトル", class: 'form-control'%></div>
          <div class="col-md-6" style="text-align:center;">
            <div class="form-check form-check-inline">
              <%= f.radio_button :status_eq, '', class: 'form-check-input' %>
              <label class="form-check-label">指定なし</label>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :status_eq, 0, class: 'form-check-input' %>
              <label class="form-check-label">未着手</label>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :status_eq, 1, class: 'form-check-input' %>
              <label class="form-check-label">作業中</label>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :status_eq, 2, class: 'form-check-input' %>
              <label class="form-check-label">完了</label>
            </div>
          </div>
          <div class="col"><%= f.submit '検索', class: 'btn btn-primary btn-sm btn-block' %></div>
        </div>
      </div>
    <% end %>
    
    <%= flash[:notice] %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th scope="col"><%= sort_order "id", "ID"%></th>
          <th scope="col"><%= sort_order "title", "タイトル"%></th>
          <th scope="col"><%= sort_order "description", "詳細"%></th>
          <th scope="col"><%= sort_order "status", "進捗"%></th>
          <th scope="col"><%= sort_order "date", "〆切日時"%></th>
          <th scope="col"><%= sort_order "priority", "優先度"%></th>
          <th scope="col"><%= sort_order "user", "作成者"%></th>
          <th scope="col"><%= sort_order "label", "ラベル"%></th>
          <th scope="col"><%= sort_order "created_at", "作成日時"%></th>
          <th scope="col"><%= sort_order "updated_at", "更新日時"%></th>
        </thead>
        
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.id %></td>
              <td><%= link_to task.title, task_path(task)%></td>
              <td><%= task.description %></td>
              <td><%= @status[task.status] %></td>
              <td><%= nil_trans task.date, true %></td>
              <td><%= @priority_mark[nil_trans task.priority, false, true] %></td>
              <td><%= nil_trans task.user %></td>
              <td><%= nil_trans task.label %></td>
              <td><%= task.created_at.strftime('%Y.%m.%d %H:%M') %></td>
              <td><%= task.updated_at.strftime('%Y.%m.%d %H:%M') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @tasks, class: 'mb-3', theme: 'twitter-bootstrap-4'%>
  
  </body>
</html>