<h1><%= @task.title %></h1>

<%= flash[:notice] %>

<p><%= @task.description %></p>
<p><%= @status[@task.priority] %></p>
<p>進捗：<%= @status[@task.status] %></p>
<p>〆切日時：<%= @task.date.strftime('%Y.%m.%d %H:%M') %></p>
<p>優先度：<%= @priority_mark[@task.priority] %></p>
<p>ラベル：<%= @task.label %></p>
<p>作成者：<%= @task.user %></p>
<p>作成日時：<%= @task.created_at.strftime('%Y.%m.%d %H:%M') %></p>
<p>更新日時：<%= @task.updated_at.strftime('%Y.%m.%d %H:%M') %></p>

<ul>
  <li><%= link_to "Edit", edit_task_path(@task) %></li>
  <li><%= link_to "Destroy", task_path(@task), method: :delete, data: {
    confirm: "このタスクを削除します。よろしいですか？"
  } %></li>
</ul>

<%= link_to "HOME", root_path %>