<%= render 'navbar' %>

<div class="container">
  <h1>New Label</h1>
  <%= flash[:notice] %>
  <hr>
  <%= render 'form', label: @label %>
  <hr>

  <div class="my-3">
    <%= link_to "< Back", :back, class: 'btn btn-link' %><br>
    <%= link_to "<< Home", root_path, class: 'btn btn-link' %>
  </div>
</div>