<h1><%= @task.title %></h1>

<p><%= @task.description %></p>
<p><%= @status[@task.priority] %></p>
<p>重要度：<%= @priority_mark[@task.priority] %></p>
<p>〆切：<%= @task.date %></p>
<p>ラベル：<%= @task.label %></p>
<p>作成者：<%= @task.user %></p>
