<%= render 'navbar' %>

<div class="container mb-3">
  <%= link_to "Create New User", new_user_path, class: 'btn btn-info btn-block' %>
</div>

<h1>Users Info</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">アドレス</th>
      <th scope="col">権限</th>
      <th scope="col">タスク数（未着手, 作業中, 完了）</th>
      <th scope="col">作成日時</th>
      <th scope="col">更新日時</th>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr valign="middle">
          <td><%= user.id %></td>
          <td><%= link_to user.name, user_path(user)%></td>
          <td><%= user.email %></td>
          <td><%= user.admin ? "admin" : "user" %></td>
          <td align="center">
            <%= user.tasks.count %>（
              <%= user.tasks.where(status: 0).count %>, 
              <%= user.tasks.where(status: 1).count %>,
              <%= user.tasks.where(status: 2).count %>
            ）
          </td>
          <td><%= user.created_at.strftime('%Y.%m.%d %H:%M') %></td>
          <td><%= user.updated_at.strftime('%Y.%m.%d %H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users, class: 'mb-3', theme: 'twitter-bootstrap-4'%>